<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../resources/static/сss/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/static/css/style.css">
    <title>main page</title>
</head>
<body style ="background-color: #CEF6F5;">
<div class="alert"  style ="background-color: #0174DF;" role="alert">
    <ul class="nav nav-pills">
        <li class="nav-item btn btn-info">
            <a href="#" class="text-white">  Платежи  </a>
        </li>
        <li class="nav-item btn btn-secondary">
            <a href="company.html" class="text-white">Организации</a>
        </li>
    </ul>
</div>
<h1 align="center"><i>Прием платежей<i></h1></br>
<div  class="alert alert-primary ml-5 mr-5 float:left" role="alert" style ="width: 400px; float:left;">
    <button type="button" class="btn btn-primary btn-lg">Прозвести платеж</button></br></br></br></br>
    <button type="button" class="btn btn-success btn-lg">Аннулировать операцию</button></br></br></br></br>
    <button type="button" class="btn btn-secondary btn-lg">Сформировать отчет</button>
</div>
<div style=" float:center;"  style ="width: 700px;">
    <img src="../../resources/static/image/3.jpg" width="500" height="500"  style="margin-left: 8%">
</div>

</body>
</html>