<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet"
          href="../../resources/static/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/static/font-awesome/css/font-awesome.min.css}">

    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <link rel="stylesheet"
          href="../../resources/static/js/bootstrap.min.js"
          th:href="@{/resources/static/js/bootstrap.min.js}">
    <link rel="stylesheet"
          href="../../resources/static/js/bootstrap-datepicker.js"
          th:href="@{/resources/static/js/bootstrap-datepicker.js}">
    <link rel="stylesheet"
          href="../../resources/static/css/datepicker.css"
          th:href="@{/resources/static/css/datepicker.css}">


    <title>searchByDate</title>
</head>
<body style ="background-color: #CEF6F5;">

<nav class="alert"  style ="background-color: #0174DF;" role="alert">
    <ul class="nav nav-pills">
        <li class="nav-item btn btn-info">
            <a href="payments.html"
               th:href="@{/payments}"
               class="text-white"> Payments </a>
        </li>
        <li class="nav-item btn btn-secondary">
            <a href="companies.html"
               th:href="@{/companies}"
               class="text-white">Companies</a>
        </li>
        <a  href="main-page.html"
            th:href="@{/main-page}"
            style="margin-left: auto;"
            class="text-white">Back</a>
    </ul>
</nav>

<div class="container">
    <h1 th:text="'Create' + ' ' + ${name1}">Hello sample</h1>

</div>

<form  id = "your_form" name="form1" class="alert alert-primary mx-auto" style="width: 500px;" onsubmit="yourFunction(); return IsEmpty();">

    <div class="form-group" id="testDIV">
        <div class="container" style="width: 300px;">
            <div class="hero-unit btn-lg">
                <label>Enter start date</label>
                <input  type="date"  name="startdate" id="pickyDate"/>
            </div>
            <div class="hero-unit btn-lg">
                <label>Enter end date</label>
                <input  type="date" name="enddate" id="pickyDate1"/>
            </div>
            <div class="hero-unit btn-lg">

            <button type="submit" class="btn btn-success btn-lg btn-block">Apply</button>
            </div>
        </div>
    </div>
</form>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>

<script src="../../resources/static/js/bootstrap-datepicker.js"
        th:src="@{/resources/static/js/bootstrap-datepicker.js}"></script>

<script src="../../resources/static/css/datepicker.css"
        th:src="@{/resources/static/css/datepicker.css}"></script>

<script>
    function yourFunction(){
    var action_src = "http://localhost:8090/payments/" + document.getElementsByName("startdate")[0].value +"/"+ document.getElementsByName("enddate")[0].value;

    your_form.action = action_src ;
}
</script>

<script>
    function IsEmpty(){
  if(document.forms['form1'].startdate.value === "" ||
  document.forms['form1'].enddate.value === "")
  {
    alert("empty");
    return false;
  }

  if(document.forms['form1'].startdate.value > document.forms['form1'].enddate.value)
  {
    alert("start date must be less end date");
    return false;
  }
    return true;
}
</script>

</body>
</html>